<div>
    <label for="{{widget.get_field_id( 'title' )}}">
        {{_e( 'Title:' )}}
    </label>
    <input class="widefat" id="{{widget.get_field_id( 'title' )}}" name="{{widget.get_field_name( 'title' )}}" type="text" value="{{value_title}}" />

    <label for="{{widget.get_field_id( 'dealer' )}}">
        {{_e( 'dealer:' )}}
    </label>
    <input class="widefat" id="{{widget.get_field_id( 'dealer' )}}" name="{{widget.get_field_name( 'dealer' )}}" type="text" value="{{value_dealer}}" />
</div>
