<ul id="m-nav" class="menu">
    <li class="menu-item">
        <a href="{{ url()}}//soi-keo-bong-da" title="Soi kèo">Soi kèo</a>
        <ul class="sub-menu">
            <li class="menu-item"><a href="{{ url()}}//soi-keo-bong-da-anh" title="Soi kèo bóng đá Anh">Soi kèo bóng đá Anh</a></li>
            <li class="menu-item"><a href="{{ url()}}//soi-keo-bong-da-tay-ban-nha" title="Soi kèo bóng đá Tây Ban Nha">Soi kèo bóng đá Tây Ban Nha</a></li>
            <li class="menu-item"><a href="{{ url()}}//soi-keo-bong-da-duc" title="Soi kèo bóng đá Đức">Soi kèo bóng đá Đức</a></li>
            <li class="menu-item"><a href="{{ url()}}//soi-keo-bong-da-phap" title="Soi kèo bóng đá Pháp">Soi kèo bóng đá Pháp</a></li>
            <li class="menu-item"><a href="{{ url()}}//soi-keo-bong-da-y" title="Soi kèo bóng đá Ý">Soi kèo bóng đá Ý</a></li>
            <li class="menu-item"><a href="{{ url()}}//soi-keo-cup-c1" title="Soi kèo Cup C1">Soi kèo Cup C1</a></li>
            <li class="menu-item"><a href="{{ url()}}//soi-keo-europa-league" title="Soi Kèo Europa League">Soi Kèo Europa League</a></li>
            <li class="menu-item"><a href="{{ url()}}//soi-keo-bong-co" title="Soi kèo bóng cỏ">Soi kèo bóng cỏ</a></li>
            <li class="menu-item"><a href="{{ url()}}//tag/soi-keo-tai-xiu" title="Soi kèo tài xỉu">Soi kèo tài xỉu</a></li>
            <li class="menu-item"><a href="{{ url()}}//tag/soi-keo-phat-goc" title="Soi kèo phạt góc">Soi kèo phạt góc</a></li>
            <li class="menu-item"><a href="{{ url()}}//soi-keo-doi-tuyen-quoc-gia" title="Soi kèo đội tuyển Quốc gia">Soi kèo đội tuyển Quốc gia</a></li>
        </ul>
    </li>
    <li class="menu-item"><a href="{{ url()}}//nhan-dinh-bong-da-hom-nay" title="NHẬN ĐỊNH BÓNG ĐÁ">NHẬN ĐỊNH BÓNG ĐÁ</a></li>
    <li class="menu-item"><a href="{{ url()}}//link-xem-truc-tiep-bong-da" title="Link xem trực tiếp bóng đá">Link xem trực tiếp bóng đá</a></li>
    <li class="menu-item"><a href="{{ url()}}//bien-dong-nha-cai" title="BIẾN ĐỘNG NHÀ CÁI">BIẾN ĐỘNG NHÀ CÁI</a></li>
    <li class="menu-item"><a href="{{ url()}}//soi-keo/keo-dac-biet" title="KÈO ĐẶC BIỆT">KÈO ĐẶC BIỆT</a></li>
    <li class="menu-item"><a href="{{ url()}}//top-nha-cai" title="TOP NHÀ CÁI">TOP NHÀ CÁI</a></li>
    <li class="menu-item"><a href="{{ url()}}//ty-le-keo-4" title="Tỷ lệ kèo">Tỷ lệ kèo</a></li>
</ul>