<div class="grid-inner">
        <div class="entry-image">
            <a href="{{ post.link }}">
                <img style="height: 250px" src="{{ post.thumbnail.src }}" alt="{{ post.title }}">
            </a>
        </div>
        <div class="entry-title">
            <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
        </div>
        <div class="entry-meta">
            <ul>
                <li><i class="icon-calendar3"></i> {{ ago(post.date('d-m-Y')) }}</li>
                <li><a href="{{ post.link }}"><i class="icon-comments"></i> {{ post.comments | length }}</a></li>
            </ul>
        </div>
        <div class="entry-content">
            <p>
                {{ post.post_excerpt | truncate(25) }}
            </p>
            <a href="{{ post.link }}" class="more-link">Read More</a>
        </div>
    </div>
