<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-dark" style="padding: 250px 0; background-image: url('{{site.theme.link}}/assets/images/about/parallax.jpg'); background-size: cover; background-position: center center;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">
    <div class="container clearfix">
        <h1>Blog</h1>
        <span>Everything you need to know about our Company</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ site.link }}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </div>
</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <!-- Posts
        ============================================= -->
            <div id="posts" class="post-grid row grid-container gutter-40 clearfix" data-layout="fitRows">
                <div class="entry col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="entry-image">
                            <a href="{{site.theme.link}}/assets/images/blog/full/17.jpg" data-lightbox="image"><img src="{{site.theme.link}}/assets/images/blog/grid/17.jpg" alt="Standard Post with Image"></a>
                        </div>
                        <div class="entry-title">
                            <h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="icon-calendar3"></i> 10th Feb 2021</li>
                                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
                                <li><a href="#"><i class="icon-camera-retro"></i></a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
                            <a href="blog-single.html" class="more-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="entry col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="entry-image">
                            <iframe src="https://player.vimeo.com/video/87701971" width="500" height="281" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <div class="entry-title">
                            <h2><a href="blog-single-full.html">This is a Standard post with a Vimeo Video</a></h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="icon-calendar3"></i> 16th Feb 2021</li>
                                <li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>
                                <li><a href="#"><i class="icon-film"></i></a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem consectetur pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt!</p>
                            <a href="blog-single-full.html" class="more-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="entry col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="entry-image">
                            <div class="fslider" data-arrows="false" data-lightbox="gallery">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="{{site.theme.link}}/assets/images/blog/full/10.jpg" data-lightbox="gallery-item"><img src="{{site.theme.link}}/assets/images/blog/grid/10.jpg" alt="Standard Post with Gallery"></a></div>
                                        <div class="slide"><a href="{{site.theme.link}}/assets/images/blog/full/20.jpg" data-lightbox="gallery-item"><img src="{{site.theme.link}}/assets/images/blog/grid/20.jpg" alt="Standard Post with Gallery"></a></div>
                                        <div class="slide"><a href="{{site.theme.link}}/assets/images/blog/full/21.jpg" data-lightbox="gallery-item"><img src="{{site.theme.link}}/assets/images/blog/grid/21.jpg" alt="Standard Post with Gallery"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="entry-title">
                            <h2><a href="blog-single-small.html">This is a Standard post with a Slider Gallery</a></h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="icon-calendar3"></i> 24th Feb 2021</li>
                                <li><a href="blog-single-small.html#comments"><i class="icon-comments"></i> 21</a></li>
                                <li><a href="#"><i class="icon-picture"></i></a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
                            <a href="blog-single-small.html" class="more-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="entry col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="entry-image clearfix">
                            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/301161123&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe>
                        </div>
                        <div class="entry-title">
                            <h2><a href="blog-single.html">This is an Embedded SoundCloud Post</a></h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="icon-calendar3"></i> 28th Apr 2021</li>
                                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 16</a></li>
                                <li><a href="#"><i class="icon-music2"></i></a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
                            <a href="blog-single.html" class="more-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="entry col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="entry-image">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/SZEflIVnhH8" allowfullscreen></iframe>
                        </div>
                        <div class="entry-title">
                            <h2><a href="blog-single-full.html">This is a Standard post with a Youtube Video</a></h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="icon-calendar3"></i> 30th Apr 2021</li>
                                <li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 34</a></li>
                                <li><a href="#"><i class="icon-film"></i></a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
                            <a href="blog-single-full.html" class="more-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="entry col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="entry-image clearfix">
                            <div class="fslider" data-animation="fade" data-pagi="false" data-lightbox="gallery">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="{{site.theme.link}}/assets/images/blog/full/2.jpg" data-lightbox="gallery-item"><img src="{{site.theme.link}}/assets/images/blog/grid/2.jpg" alt="Standard Post with Gallery"></a></div>
                                        <div class="slide"><a href="{{site.theme.link}}/assets/images/blog/full/3.jpg" data-lightbox="gallery-item"><img src="{{site.theme.link}}/assets/images/blog/grid/3.jpg" alt="Standard Post with Gallery"></a></div>
                                        <div class="slide"><a href="{{site.theme.link}}/assets/images/blog/full/12.jpg" data-lightbox="gallery-item"><img src="{{site.theme.link}}/assets/images/blog/grid/12.jpg" alt="Standard Post with Gallery"></a></div>
                                        <div class="slide"><a href="{{site.theme.link}}/assets/images/blog/full/13.jpg" data-lightbox="gallery-item"><img src="{{site.theme.link}}/assets/images/blog/grid/13.jpg" alt="Standard Post with Gallery"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="entry-title">
                            <h2><a href="blog-single-thumbs.html">This is a Standard post with Fade Gallery</a></h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="icon-calendar3"></i> 3rd Mar 2021</li>
                                <li><a href="blog-single-thumbs.html#comments"><i class="icon-comments"></i> 21</a></li>
                                <li><a href="#"><i class="icon-picture"></i></a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
                            <a href="blog-single-thumbs.html" class="more-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="entry col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="entry-image">
                            <a href="{{site.theme.link}}/assets/images/blog/full/1.jpg" data-lightbox="image"><img src="{{site.theme.link}}/assets/images/blog/grid/1.jpg" alt="Standard Post with Image"></a>
                        </div>
                        <div class="entry-title">
                            <h2><a href="blog-single.html">This is a Standard post with another Preview Image</a></h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="icon-calendar3"></i> 5th May 2021</li>
                                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 6</a></li>
                                <li><a href="#"><i class="icon-camera-retro"></i></a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
                            <a href="blog-single.html" class="more-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="entry col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="entry-image">
                            <iframe width="480" height="270" src="https://www.dailymotion.com/embed/video/x18murk" allowfullscreen></iframe>
                        </div>
                        <div class="entry-title">
                            <h2><a href="blog-single-full.html">This is a Standard post with a Dailymotion Video</a></h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="icon-calendar3"></i> 11th May 2021</li>
                                <li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 9</a></li>
                                <li><a href="#"><i class="icon-film"></i></a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
                            <a href="blog-single-full.html" class="more-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="entry col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="entry-image clearfix">
                            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/17521446&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
                        </div>
                        <div class="entry-title">
                            <h2><a href="blog-single.html">This is another Embedded Audio Post</a></h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="icon-calendar3"></i> 15th May 2021</li>
                                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 2</a></li>
                                <li><a href="#"><i class="icon-music2"></i></a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur!</p>
                            <a href="blog-single.html" class="more-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div><!-- #posts end -->
            <div class="clear mt-5"></div>
            <!-- Pagination
        ============================================= -->
            <div class="d-flex justify-content-between mt-5">
                <a href="#" class="btn btn-outline-secondary">&larr; Older</a>
                <a href="#" class="btn btn-outline-dark">Newer &rarr;</a>
            </div>
            <!-- .pager end -->
        </div>
    </div>
</section><!-- #content end -->