{% section 'header' %}
<section id="question" class="works_area section-padding pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="section-title text-center mb-2 feature_area_check">
                <h1 class="text-bold header-title auto-center text-asss pt-0">
                    Những câu hỏi thường gặp của khách hàng
                    <p style="width: auto;">trước khi quyết định đầu tư vào dự án Đô thị sân Golf West Lakes Golf & Villas</p>
                </h1>
            </div>
            <div class="accordion row" id="accordionExample">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" id="heading1">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>1</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link align-middle">
                                        Quy mô dự án?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
                            <div class="card-body">
                                <p> - Tổng diện tích dự án: 2,78 ha</p>
                                Bao gồm:<br>
                                <p>- 5 block 20 tầng</p>
                                <p>- 923 căn hộ cao cấp</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo" id="heading2">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>2</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Ưu điểm nổi bật của dự án là gì?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                            <div class="card-body">
                                - Quản lý và vận hành: Savills <br>
                                - Tư vấn thiết kế kiến trúc: Aedas <br>
                                - Tư vấn thiết kế cảnh quan: Belt Collins - Tư vấn thiết kế nội thất: Ong&Ong <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" id="heading3">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>3</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Giá bán dự kiến từ CĐT?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                            <div class="card-body">
                                - Căn hộ bàn giao thô: 45 triệu/m2 <br>
                                - Căn hộ bàn giao full nội thất: 50 triệu/m2 <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4" id="heading4">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>4</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link">
                                        Cơ cấu từng loại sản phẩm trong toàn dự án?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                            <div class="card-body">
                                Khoảng 293 căn hộ - Căn hộ chung cư cao cấp, Shophouse, Officetel và chuỗi tiện ích dịch vụ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5" id="heading5">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>5</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Thời điểm dự kiến bàn giao nhà?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                            <div class="card-body">
                                Thời gian mở bán dự kiến: Quí IV/ 2020 <br>
                                Thời gian bàn giao công trình dự kiến: 2023
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6" id="heading6">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>6</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Ngân hàng hỗ trợ cho vay dự án là ngân hàng nào?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                            <div class="card-body">
                                Không liên kết ngân hàng, CĐT trực tiếp hỗ trợ người mua trả chậm theo từng đợt
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
{% section 'footer' %}