{% section 'header' %}
<section id="question" class="works_area section-padding pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="section-title text-center mb-2 feature_area_check">
                <h1 class="text-bold header-title auto-center text-asss pt-0">
                    Những câu hỏi thường gặp của khách hàng
                    <p style="width: auto;">trước khi quyết định đầu tư vào dự án Đô thị sân Golf West Lakes Golf & Villas</p>
                </h1>
            </div>
            <div class="accordion row" id="accordionExample">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" id="heading1">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>1</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link align-middle">
                                        Quy mô dự án?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
                            <div class="card-body">
                                <p> Quy mô dự án: 200 ha (khu sân golf 125ha, khu biệt thự 75ha)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo" id="heading2">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>2</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Ưu điểm nổi bật của dự án là gì?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                            <div class="card-body">
                                Dự án West Lakes Golf & Villas là dự án hiếm hoi nằm trong lòng sân Golf 27 lỗ được xây dựng theo tiêu chuẩn Châu Âu, thừa hưởng giá trị xứng tầm nghỉ dưỡng cao cấp, thượng lưu.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" id="heading3">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>3</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Giá bán dự kiến từ CĐT?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                            <div class="card-body">
                                Giá chỉ từ 3,2 tỷ/căn
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4" id="heading4">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>4</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link">
                                        Cơ cấu từng loại sản phẩm trong toàn dự án?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                            <div class="card-body">
                                - Biệt thự mini - 409 sản phẩm (6x14m, 6x14.5m) <br>
                                - Biệt thự đơn lập - 11 sản phẩm (10x20m) <br>
                                - Biệt thự song lập - 117 sản phẩm (10x17m, 10x20m)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5" id="heading5">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>5</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Thời điểm dự kiến bàn giao nhà?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                            <div class="card-body">
                                Thời gian bàn giao công trình dự kiến: 2021
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6" id="heading6">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>6</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Ngân hàng hỗ trợ cho vay dự án là ngân hàng nào?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                            <div class="card-body">
                                Ngân hàng Vietcombank
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
<section id="in-progress" class="process-content section-padding pt-4 pb-5 white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-bold header-title auto-center pb-3 mb-3 text-asss ">
                    CẬP NHẬT TIẾN ĐỘ DỰ ÁN WEST LAKES GOLF & VILLAS
                </h2>
                <div class="video-wrapper mt-2 mb-4">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XQsgUz3MZWE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="connect_utilities" class="testimonial-area  bg-before pt-4 pb-4" style="background-image: url({{theme_url()}}assets/images/testimonial-bg.png);  background-size:cover; background-position: center center;color: white">
    <div class="container">
        <div class="row">
            <div class="section-title mt-3 mb-3 ">
                <div class="single_feature single_feature_111 pt-md-0  m-0">
                    <h1 class="text-green text-bold header-title pt-0 mt-0 auto-center text-asss">
                       TIN TỨC DỰ ÁN
                    </h1>
                </div>
            </div>
            <div id="work-slider-5" class="owl-carousel owl-carousel-portfolio-2">
                <div class="single_portfolio">
                    <div class="box">
                        <img src="{{theme_url()}}assets/images/tien-do-du-an-thang-11-20201.png" alt="">
                    </div>
                    <a href="#">
                        <p class="text-white">
                            TIẾN ĐỘ DỰ ÁN THÁNG 11/2020
                        </p>
                    </a>
                </div>
                <div class="single_portfolio">
                    <div class="box">
                        <img src="{{theme_url()}}assets/images/tien-do-du-an-thang-11-20202.png" alt="">
                    </div>
                    <a href="#">
                        <p class="text-white">
                            TIẾN ĐỘ DỰ ÁN THÁNG 12/2020
                        </p>
                    </a>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
{% section 'footer' %}