<main>
  <!-- news-area-start -->
  <div class="news-area pt-60 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8">
          <div class="section-title mb-30">
            <h4>{{title}}</h4>
          </div>
          <div class="row mb-30">
            <div class="col-xl-4 col-lg-6 col-md-6 mb-25">
              <div class="postbox">
                <div class="post-img">
                  <a href="#"><img src="{{site.theme.link}}/assets/images/45.jpg" alt></a>
                </div>
                <div class="post-box-text mt-30">
                  <div class="post-box-meta">
                    <span class="post-box-cart color-1"><a href="#">Mẹo chơi kèo</a></span>
                    <span class="post-box-cart1"><a href="#"><i class="far fa-calendar-alt"></i> 25 Nov 2019</a></span>
                  </div>
                  <h4><a href="#">Five days on, hackers yet be traced brought unde</a></h4>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-25">
              <div class="postbox">
                <div class="post-img">
                  <a href="#"><img src="{{site.theme.link}}/assets/images/46.jpg" alt></a>
                </div>
                <div class="post-box-text mt-30">
                  <div class="post-box-meta">
                    <span class="post-box-cart color-2"><a href="#">Giải Kèo Tốt</a></span>
                    <span class="post-box-cart1"><a href="#"><i class="far fa-calendar-alt"></i> 25 Nov 2019</a></span>
                  </div>
                  <h4><a href="#">Five days on, hackers yet to be traced brought unde</a></h4>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-25">
              <div class="postbox">
                <div class="post-img">
                  <a href="#"><img src="{{site.theme.link}}/assets/images/47.jpg" alt></a>
                </div>
                <div class="post-box-text mt-30">
                  <div class="post-box-meta">
                    <span class="post-box-cart color-3"><a href="#">Mẹo chơi kèo</a></span>
                    <span class="post-box-cart1"><a href="#"><i class="far fa-calendar-alt"></i> 25 Nov 2019</a></span>
                  </div>
                  <h4><a href="#">Five days on, hackers yet be traced brought unde</a></h4>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-25">
              <div class="postbox">
                <div class="post-img">
                  <a href="#"><img src="{{site.theme.link}}/assets/images/48.jpg" alt></a>
                </div>
                <div class="post-box-text mt-30">
                  <div class="post-box-meta">
                    <span class="post-box-cart color-4"><a href="#">Giải Kèo Tốt</a></span>
                    <span class="post-box-cart1"><a href="#"><i class="far fa-calendar-alt"></i> 25 Nov 2019</a></span>
                  </div>
                  <h4><a href="#">Nusrat Murder Case Steps to be taken for quick dispo</a></h4>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-25">
              <div class="postbox">
                <div class="post-img">
                  <a href="#"><img src="{{site.theme.link}}/assets/images/49.jpg" alt></a>
                </div>
                <div class="post-box-text mt-30">
                  <div class="post-box-meta">
                    <span class="post-box-cart color-7"><a href="#">Giải Kèo Tốt</a></span>
                    <span class="post-box-cart1"><a href="#"><i class="far fa-calendar-alt"></i> 25 Nov 2019</a></span>
                  </div>
                  <h4><a href="#">Attack Case: Jahangir aliast ‘Rajib Gandhi’ gives ment</a></h4>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-25">
              <div class="postbox">
                <div class="post-img">
                  <a href="#"><img src="{{site.theme.link}}/assets/images/48.jpg" alt></a>
                </div>
                <div class="post-box-text mt-30">
                  <div class="post-box-meta">
                    <span class="post-box-cart color-8"><a href="#">robot</a></span>
                    <span class="post-box-cart1"><a href="#"><i class="far fa-calendar-alt"></i> 25 Nov 2019</a></span>
                  </div>
                  <h4><a href="#">Nusrat Murder Case Steps to be taken for quick dispo</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6">
              <div class="lifestyle-wrapper mb-30">
                <div class="lifestyle-img">
                  <a href="#"><img src="{{site.theme.link}}/assets/images/01_2.jpg" alt></a>
                </div>
                <div class="lifestyle-text">
                  <span class="recent-cart color-5"><a href="#">history</a></span>
                  <h4><a href="#">Cotton import from USA to soar was American traders predict</a></h4>
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                  <div class="post-content-meta">
                    <span><a class="meta-11" href="#"><i class="far fa-clock"></i> 25 Nov 2019</a></span>
                    <span><a class="meta-11" href="#"><i class="far fa-comment"></i> (03)</a></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="lifestyle-wrapper mb-30">
                <div class="lifestyle-img">
                  <a href="#"><img src="{{site.theme.link}}/assets/images/02_2.jpg" alt></a>
                </div>
                <div class="lifestyle-text">
                  <span class="recent-cart color-3"><a href="#">history</a></span>
                  <h4><a href="#">Pay Disparity Pry teachers threaten boycott tests, close schools</a></h4>
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                  <div class="post-content-meta">
                    <span><a class="meta-11" href="#"><i class="far fa-clock"></i> 25 Nov 2019</a></span>
                    <span><a class="meta-11" href="#"><i class="far fa-comment"></i> (03)</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-2-img mt-25 mb-60">
            <a href="#"><img src="{{site.theme.link}}/assets/images/004.jpg" alt></a>
          </div>
          <div class="row">
            <div class="col-xl-5 col-lg-6 mb-30">
              <div class="lifestyle-img">
                <a href="#"><img src="{{site.theme.link}}/assets/images/40.jpg" alt></a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-6 mb-30">
              <div class="lifestyle-text lifestyle-04-text">
                <span class="recent-cart color-5"><a href="#">travel</a></span>
                <h4><a href="#">Cotton import from USA to soar was American traders predict</a></h4>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                <div class="post-content-meta">
                  <span><a class="meta-11" href="#"><i class="far fa-clock"></i> 25 Nov 2019</a></span>
                  <span><a class="meta-11" href="#"><i class="far fa-comment"></i> (03)</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-5 col-lg-6 mb-30">
              <div class="lifestyle-img">
                <a href="#"><img src="{{site.theme.link}}/assets/images/41.jpg" alt></a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-6 mb-30">
              <div class="lifestyle-text lifestyle-04-text">
                <span class="recent-cart color-2"><a href="#">tech</a></span>
                <h4><a href="#">Cotton import from USA to soar was American traders predict</a></h4>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                <div class="post-content-meta">
                  <span><a class="meta-11" href="#"><i class="far fa-clock"></i> 25 Nov 2019</a></span>
                  <span><a class="meta-11" href="#"><i class="far fa-comment"></i> (03)</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-5 col-lg-6 mb-30">
              <div class="lifestyle-img">
                <a href="#"><img src="{{site.theme.link}}/assets/images/42.jpg" alt></a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-6 mb-30">
              <div class="lifestyle-text lifestyle-04-text">
                <span class="recent-cart color-4"><a href="#">fashion</a></span>
                <h4><a href="#">Cotton import from USA to soar was American traders predict</a></h4>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                <div class="post-content-meta">
                  <span><a class="meta-11" href="#"><i class="far fa-clock"></i> 25 Nov 2019</a></span>
                  <span><a class="meta-11" href="#"><i class="far fa-comment"></i> (03)</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-5 col-lg-6 mb-30">
              <div class="lifestyle-img">
                <a href="#"><img src="{{site.theme.link}}/assets/images/43.jpg" alt></a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-6 mb-30">
              <div class="lifestyle-text lifestyle-04-text">
                <span class="recent-cart color-1"><a href="#">Mẹo chơi kèo</a></span>
                <h4><a href="#">Cotton import from USA to soar was American traders predict</a></h4>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                <div class="post-content-meta">
                  <span><a class="meta-11" href="#"><i class="far fa-clock"></i> 25 Nov 2019</a></span>
                  <span><a class="meta-11" href="#"><i class="far fa-comment"></i> (03)</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-5 col-lg-6 mb-30">
              <div class="lifestyle-img">
                <a href="#"><img src="{{site.theme.link}}/assets/images/53.jpg" alt></a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-6 mb-30">
              <div class="lifestyle-text lifestyle-04-text">
                <span class="recent-cart color-7"><a href="#">Mẹo chơi kèo</a></span>
                <h4><a href="#">Cotton import from USA to soar was American traders predict</a></h4>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                <div class="post-content-meta">
                  <span><a class="meta-11" href="#"><i class="far fa-clock"></i> 25 Nov 2019</a></span>
                  <span><a class="meta-11" href="#"><i class="far fa-comment"></i> (03)</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-5 col-lg-6 mb-30">
              <div class="lifestyle-img">
                <a href="#"><img src="{{site.theme.link}}/assets/images/52.jpg" alt></a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-6 mb-30">
              <div class="lifestyle-text lifestyle-04-text">
                <span class="recent-cart color-8"><a href="#">fashion</a></span>
                <h4><a href="#">Cotton import from USA to soar was American traders predict</a></h4>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                <div class="post-content-meta">
                  <span><a class="meta-11" href="#"><i class="far fa-clock"></i> 25 Nov 2019</a></span>
                  <span><a class="meta-11" href="#"><i class="far fa-comment"></i> (03)</a></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-5 col-lg-6 mb-30">
              <div class="lifestyle-img">
                <a href="#"><img src="{{site.theme.link}}/assets/images/51.jpg" alt></a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-6 mb-30">
              <div class="lifestyle-text lifestyle-04-text">
                <span class="recent-cart color-7"><a href="#">Mẹo chơi kèo</a></span>
                <h4><a href="#">Cotton import from USA to soar was American traders predict</a></h4>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                <div class="post-content-meta">
                  <span><a class="meta-11" href="#"><i class="far fa-clock"></i> 25 Nov 2019</a></span>
                  <span><a class="meta-11" href="#"><i class="far fa-comment"></i> (03)</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 mb-30">
          {% include 'sidebars/default.twig' %}
        </div>
      </div>
    </div>
  </div>
  <!-- news-area-end -->
  <!-- breaking-news-area-start -->
  <div class="breaking-news-area">
    <div class="container">
      <div class="breaking-bg grey-bg">
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="breaking-wrapper mb-20">
              <div class="post-sm-list fix">
                <div class="post-sm-img f-left">
                  <a href="#"><img src="{{site.theme.link}}/assets/images/b1.jpg" alt></a>
                </div>
                <div class="post-2-content fix">
                  <div class="post-content-meta">
                    <span><a class="meta-1" href="#">arts</a></span>
                    <span><a class="meta-11" href="#"><i class="far fa-clock"></i> 25 Nov 2019</a></span>
                  </div>
                  <h4><a href="#">Bahurupi natya sangst angan belhari stae</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="breaking-wrapper mb-20">
              <div class="post-sm-list fix">
                <div class="post-sm-img f-left">
                  <a href="#"><img src="{{site.theme.link}}/assets/images/b2.jpg" alt></a>
                </div>
                <div class="post-2-content fix">
                  <div class="post-content-meta">
                    <span><a class="meta-1 meta-2" href="#">lifestryle</a></span>
                    <span><a class="meta-11" href="#"><i class="far fa-clock"></i> 25 Nov 2019</a></span>
                  </div>
                  <h4><a href="#">Dhaka international folk 2019 to november</a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 d-md-none d-lg-none d-xl-block">
            <div class="breaking-wrapper mb-20">
              <div class="post-sm-list fix">
                <div class="post-sm-img f-left">
                  <a href="#"><img src="{{site.theme.link}}/assets/images/b3.jpg" alt></a>
                </div>
                <div class="post-2-content fix">
                  <div class="post-content-meta">
                    <span><a class="meta-1 meta-3" href="#">tech</a></span>
                    <span><a class="meta-11" href="#"><i class="far fa-clock"></i> 25 Nov 2019</a></span>
                  </div>
                  <h4><a href="#">Big firm products worst plastic litter report</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- breaking-news-area-end -->
</main>