<section id="testimonial" class="testimonial-area bg-footer bg-before no-padding pt-4 pb-2" style="background-image: url({{theme_url()}}assets/images/footer-bg.png);  background-size:cover; background-position: center center;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 auto-center col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                <div class="how_we_work_video">
                    <img data-src="{{theme_url()}}assets/images/logo.png" class="img-fluid lazy auto-center footer-logo" alt="">
                </div>
            </div><!-- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp no-padding" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                <div class="single_how_we_work text-white mt-0 ml-2" style="font-size: 1rem">
                    Thông tin liên hệ booking dự án:<br>
                    <strong>DreamHome phân phối chính thức dự án CELESTA RISE.</strong>
                    <br>Trụ sở: 14 đường số 1, KDC City Land, Phường Tân Phong, Quận 7.
                    <br>Địa chỉ: 239 đường 9A KDc Trung Sơn, Bình Hưng, Bình Chánh, HCM.
                    <br>SĐT: <strong>0862 093 788</strong>
                    <br>Email: info@dreamhomeland.vn
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>

<div class="social-button">
    <div class="social-button-content">
        <a href="viber://chat?number=0862093788&amp;text=Liên hệ Celesta Rise" class="call-icon viber" rel="nofollow">
            <img src="{{theme_url()}}assets/images/viber.png" alt="">
            <div class="animated alo-circle"></div>
            <!--                <div class="animated alo-circle-fill  "></div>-->
            <span>VIBER: 0862 093 788</span>
        </a>
        <a href="https://zalo.me/0862093788" class="zalo">
            <img src="{{theme_url()}}assets/images/zalo.png" alt="">
            <div class="animated alo-circle"></div>
            <!--                <div class="animated alo-circle-fill  "></div>-->
            <span>ZALO: 0862 093 788</span>
        </a>
        <a href="tel:0862093788" class="sms">
            <img src="{{theme_url()}}assets/images/phone.png" alt="">
            <div class="animated alo-circle"></div>
            <!--                <div class="animated alo-circle-fill  "></div>-->
            <span>CAll: 0862 093 788</span>
        </a>
    </div>
</div>
<div id="modalPopup" class="modal fade popup" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img data-src="{{theme_url()}}assets/images/Popup-01.jpg" class="img-fluid lazy" alt="" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">* Đăng ký xem thông tin dự án</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Name"></label>
                        <input class="form-control requiredField input-label o2o-name" data-val="true" data-val-required="Thông tin là bắt buộc nhập" id="Name" maxlength="50" name="Name" placeholder="Họ tên" type="text" value="" />
                        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Phone"></label>
                        <input class="form-control number-only o2o-phone" data-val="true" data-val-required="Thông tin là bắt buộc nhập" data-val-length="Số điện thoại không hợp lệ" data-val-length-max="13" data-val-length-min="10" data-val-regex="Số điện thoại không hợp lệ" data-val-regex-pattern="^[0-9]*$" data-val-requiredif="Thông tin là bắt buộc nhập." data-val-requiredif-comp="isequalto" data-val-requiredif-other="Email" data-val-requiredif-value="" id="Phone" maxlength="14" name="Phone" placeholder="Số điện thoại" type="number" value="" />
                        <span class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Email"></label>
                        <input class="form-control o2o-email" id="Email" maxlength="50" name="Email" placeholder="Địa chỉ email" type="email" value="" />
                        <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button class="btn btn-register-bg btn-register-b red-bg">Nhận thông tin</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="thankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xin Chúc mừng </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Xin chúc mừng bạn đã gửi tin nhắn thành công, chuyên viên tư vấn PKD sẽ liên hệ lại với bạn ngay.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
